openapi: 3.0.1
info:
  title: Demo API
  description: This is a simple demo API for showcasing how to integrate with Backstage.
  version: 1.0.0
  contact:
    name: Backstage Team
    url: https://backstage.io
    email: backstage-team@example.com
servers:
  - url: https://api.demo.com/v1
    description: Demo API server

paths:
  /users:
    get:
      summary: Get a list of users
      description: Retrieve a list of all users.
      responses:
        '200':
          description: A list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /users/{id}:
    get:
      summary: Get a user by ID
      description: Retrieve a user by their unique ID.
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the user to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: The user details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found.
  /posts:
    get:
      summary: Get a list of posts
      description: Retrieve a list of all posts in the system.
      responses:
        '200':
          description: A list of posts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the user.
        name:
          type: string
          description: The user's name.
        email:
          type: string
          description: The user's email address.
    Post:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the post.
        title:
          type: string
          description: The title of the post.
        content:
          type: string
          description: The content of the post.
